<!DOCTYPE html>
<html>

<head>
  <title>答题管理</title>
  <#include "/header.html">
</head>

<body>
  <div id="rrapp" v-cloak>
    <div v-show="showList">
      <div class="grid-btn">
        <div class="form-group col-sm-2" id="testsNameInput">
         <input type="text" class="form-control" v-model="q.testsName" @keyup.enter="query" placeholder="测试名">
       </div>
       <a class="btn btn-default" @click="query" id="query">查询</a>
        <#if shiro.hasPermission("sys:answers:save")>
          <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
        </#if>
        <#if shiro.hasPermission("sys:answers:update")>
          <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
        </#if>
        <#if shiro.hasPermission("sys:answers:delete")>
          <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
        </#if>
      </div>
      <table id="jqGrid"></table>
      <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
      <div class="panel-heading">{{title}}</div>
      <form class="form-horizontal">
        <div class="form-group" >
          <div class="col-sm-2 control-label">测试名</div>
          <div class="col-sm-10" id="testsNameCol">
            <input type="text" class="form-control" style="cursor:pointer;" v-model="answers.testsName" @click="testsTree" readonly="readonly" placeholder="测试名" />
          </div>
        </div>
        <div class="form-group" id="question">
          <div class="col-sm-2 control-label">题目名</div>
          <div class="col-sm-10">
            <input type="text" class="form-control" style="cursor:pointer;" v-model="answers.question" @click="questionTree" readonly="readonly" placeholder="问题名" />
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-2 control-label"></div>
          <input type="button" class="btn btn-primary" id="btnSaveOrUpdate" data-loading-text="保存中..." @click="saveOrUpdate" value="确定" />
          &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回" />
        </div>
      </form>
    </div>
  </div>

  <div id="questionLayer" style="display: none;padding:10px;">
    <ul id="questionTree" class="ztree"></ul>
  </div>
  <div id="testsLayer" style="display: none;padding:10px;">
    <ul id="testsTree" class="ztree"></ul>
  </div>

  <script src="${request.contextPath}/statics/js/modules/sys/answers.js?_${.now?long}"></script>
</body>

</html>
