<!DOCTYPE html>
<html>
<head>
    <title>题库管理</title>
		<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
			<#if shiro.hasPermission("sys:questions:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("sys:questions:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<#if shiro.hasPermission("sys:questions:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
														                    <div class="form-group">
                        <div class="col-sm-2 control-label">等级</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="questions.grade" placeholder="等级"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">分类</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="questions.mainclass" placeholder="分类"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">子域名称</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="questions.subclass" placeholder="子域名称"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">子域权重</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="questions.subweight" placeholder="子域权重"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">题目名称</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="questions.question" placeholder="题目名称"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">题目权重</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="questions.quweight" placeholder="题目权重"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">答案1</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="questions.option1" placeholder="答案1"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">答案2</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="questions.option2" placeholder="答案2"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">答案3</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="questions.option3" placeholder="答案3"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">答案4</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="questions.option4" placeholder="答案4"/>
                        </div>
                    </div>
							            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" id="btnSaveOrUpdate" data-loading-text="保存中..." @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="${request.contextPath}/statics/js/modules/sys/questions.js?_${.now?long}"></script>
</body>
</html>